@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$OpenSans: "Open Sans", sans-serif;
$break-small: 320px;
$break-large: 768px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --text-color: #2E2C32;
}

[data-theme="dark"] {
  --bg-color: #000;
  --text-color: #fff;
}
body, html{
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.App {
  height: 100vh;
  width: 100vw;
  font-family: $OpenSans;
  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


.header {
  padding: 10px;
  font-size: 15px;
  color: inherit;
  display: flex;
  flex-direction: row;
  width: 100%;
  a {
    display: flex;
    width: auto;
    font-family: $OpenSans;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 7px;
    img {
      width: 15px;
      height: 15px;
    }
    span {
      margin-left: 5px;
    }
    &:hover {
      background: #eee;
    }
  }
  .controlls {
    margin-left: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    width: auto;
    font-family: $OpenSans;
    align-items: center;
    color: inherit;
    
    button {
      color: inherit;
      margin-left: 10px;
      font-size: 15px;
      border: none;
      background: none;
      padding: 7px;
      cursor: pointer;
      
      &:hover {
        background: #eee;
      }
    }
  }
}

#editor {
  // border: 5px solid green;
  height: 100%;
  width: 100%;
  padding: 30px 50px;
  color: inherit;
  border: none;
  box-shadow: none;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: $OpenSans;
  font-size: 15px;
  line-height: 20px;
  background-color: inherit;

  @media screen and (max-width: $break-large) {
    padding: 7px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
  }
}



// switch style
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ecf0f1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 20px;
  left: 0px;
  bottom: 1px;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #34495e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #34495e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  
}

.slider.round:before {
  border-radius: 50%;
  // background-color: transparent;
  // border: 1px solid red;
}
// switch style
